@import '_vars';
@import '_mixins';

body {
    width: 70%;
    margin: 0 auto;
}
nav{
    background-color: #181818;
    padding: 10px;
    ul{
        text-align: right;
        margin-right: 10px;
        li{
           display: inline-block;
           text-transform: uppercase;
           margin-left: 20px;
           a{
               text-decoration: none;
               color: #ffffff;
               padding: 6px;
               &:hover{
                   background: $headerColor;
                   border-radius: 20px;
               }
           }
        }
    }
}
.header{
    img{
        width: 100%;
    }
}